/* styles/globals.css */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap&subset=vietnamese");

/* Reset margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply other global styles */
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", "Arial", sans-serif; /* Example font-family */
  background-color: #f5f5f5; /* Example background color */
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
